<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Interview Declined Notice</h3> to: <%= @interview.interviewer_email %>
    <p>You have declined the interview for <%= @interview.interviewee_email %>
  </body>
</html>