<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Interview Update Notice, <%= @interview.interviewee_email %></h1>
    <p>We have re-scheduled your Interview at Time.</p>
  </body>
</html>