<nav class="navbar navbar-default sticky-top">
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	  <li>
      	  	<%= link_to "Home", root_path %>
      	  </li>
          <li>
			<%= link_to 'All Interviews', controller: 'interviews' %></li>
          <li>
            <%= link_to 'New Interview', new_interview_path %>
          </li>
      </ul>
    </div>
</nav>